{% extends "stokosm/detail/detail.html" %}
{% block header %}Connection: {{ connection.name }}{% endblock %}

{% block delete_form_action %}
{% url 'stokosm:connection_detail' connection_id=connection.id %}
{% endblock %}

{% block edit_form_action %}
{% url 'stokosm:edit_connection' connection_id=connection.id %}
{% endblock %}

{% block detail %}

<p>Directed: {{ connection.directed }}</p>

<h3>Nodes</h3>

{% if connection.goal1 %}

	<p><a href="{% url 'stokosm:detail' node_type='goal' node_id=connection.goal1.id %}">{{ connection.goal1 }}</a><span id="connection_type"></span><a href="{% url 'stokosm:detail' node_type='goal' node_id=connection.goal2.id %}">{{ connection.goal2 }}</a></p>

{% elif connection.requirement1 %}
	<p><a href="{% url 'stokosm:detail' node_type='requirement' node_id=connection.requirement1.id %}">{{ connection.requirement1 }}</a><span id="connection_type"></span><a href="{% url 'stokosm:detail' node_type='requirement' node_id=connection.requirement2.id %}">{{ connection.requirement2 }}</a></p>

{% elif connection.project1 %}
	<p><a href="{% url 'stokosm:detail' node_type='project' node_id=connection.project1.id %}">{{ connection.project1 }}</a><span id="connection_type"></span><a href="{% url 'stokosm:detail' node_type='project' node_id=connection.project2.id %}">{{ connection.project2 }}</a></p>

{% endif %}

<script type="text/javascript">
var c_type = "";
if ({{ connection.directed|lower }}) {
	{{ connection.direction }} ? c_type = {% autoescape on %}"<-"{% endautoescape %} : c_type = {% autoescape on %}"->"{% endautoescape %}; 
} else {
	c_type = {% autoescape on %}"--"{% endautoescape %};
}
document.getElementById("connection_type").innerHTML = c_type;
</script>

{% endblock %}
