{% extends "stokosm/base.html" %}

{% block content %}

<div class="row-fluid">
	<h2 id="detail_header">{% block header %}{% endblock %}</h2>
	<div class="row-fluid">
		<div class="span2">
			<div class="span4">
				<form onsubmit="return confirm('Do you really want to delete?');" action="{% block delete_form_action %}{% endblock %}" method="post">
				{% csrf_token %}
				<input type="submit" name="delete" value="delete">
				</form>
			</div>
			<div class="span8">
				<form action="{% block edit_form_action %}{% endblock %}" method="get">
				{% csrf_token %}
				<input type="submit" name="edit" value="Edit">
				</form>
			</div>
		</div>
		<div class="span10"></div>
	</div>
</div>

<div class="row-fluid">
	{% if node %}
	<p><b>Description</b>: {{ node.description }}</p>
	<p><b>Ranking</b>: {{ node.ranking }}</p>
	{% elif connection %}
	<p><b>Description</b>: {{ connection.description }}</p>
	<p><b>Ranking</b>: {{ connection.ranking }}</p>
	{% elif link %}
	<p><b>Description</b>: {{ link.description }}</p>
	<p><b>Ranking</b>: {{ link.ranking }}</p>
	{% endif %}
</div>

<div class="row-fluid">

{% block detail %}
{% endblock %}

</div>

<script type="text/javascript">
if (document.getElementById("connected_goal_form")) {
	var form = document.getElementById("connected_goal_form");
	form.setAttribute("style", "display: none;");
	add_connected_goal = document.getElementById("add_connected_goal");
	add_connected_goal.onclick = function() {
		var form = document.getElementById("connected_goal_form");
		form.getAttribute("style") == "display: initial;" ? 
		form.setAttribute("style", "display: none;") :
		form.setAttribute("style", "display: initial;")
	};
}

if (document.getElementById("connected_requirement_form")) {
	var form = document.getElementById("connected_requirement_form");
	form.setAttribute("style", "display: none;");
	add_connected_requirement = document.getElementById("add_connected_requirement");
	add_connected_requirement.onclick = function() {
		var form = document.getElementById("connected_requirement_form");
		form.getAttribute("style") == "display: initial;" ? 
		form.setAttribute("style", "display: none;") :
		form.setAttribute("style", "display: initial;")	};
}

if (document.getElementById("connected_project_form")) {
	var form = document.getElementById("connected_project_form");
	form.setAttribute("style", "display: none;");
	add_connected_project = document.getElementById("add_connected_project");
	add_connected_project.onclick = function() {
		var form = document.getElementById("connected_project_form");
		form.getAttribute("style") == "display: initial;" ? 
		form.setAttribute("style", "display: none;") :
		form.setAttribute("style", "display: initial;")	};
}

if (document.getElementById("linked_project_form")) {
	var form = document.getElementById("linked_project_form");
	form.setAttribute("style", "display: none;");
	add_linked_project = document.getElementById("add_linked_project");
	add_linked_project.onclick = function() {
		var form = document.getElementById("linked_project_form");
		form.getAttribute("style") == "display: initial;" ? 
		form.setAttribute("style", "display: none;") :
		form.setAttribute("style", "display: initial;")	};
}

if (document.getElementById("linked_goal_form")) {
	var form = document.getElementById("linked_goal_form");
	form.setAttribute("style", "display: none;");
	add_linked_goal = document.getElementById("add_linked_goal");
	add_linked_goal.onclick = function() {
		var form = document.getElementById("linked_goal_form");
		form.getAttribute("style") == "display: initial;" ? 
		form.setAttribute("style", "display: none;") :
		form.setAttribute("style", "display: initial;")	};
}

if (document.getElementById("linked_requirement_form")) {
	var form = document.getElementById("linked_requirement_form");
	form.setAttribute("style", "display: none;");
	add_linked_requirement = document.getElementById("add_linked_requirement");
	add_linked_requirement.onclick = function() {
		var form = document.getElementById("linked_requirement_form");
		form.getAttribute("style") == "display: initial;" ? 
		form.setAttribute("style", "display: none;") :
		form.setAttribute("style", "display: initial;")	};
}

</script>

{% endblock %}