{% extends "stokosm/detail/detail.html" %}
{% block header %}Link: {{ link.name }}{% endblock %}

{% block delete_form_action %}
{% url 'stokosm:link_detail' link_id=link.id %}
{% endblock %}

{% block edit_form_action %}
{% url 'stokosm:edit_link' link_id=link.id %}
{% endblock %}

{% block detail %}

<h3>Linked nodes</h3>

{% if link.goal %}

	<p><a href="{% url 'stokosm:detail' node_type='project' node_id=link.project.id %}">{{ link.project }}</a>--<a href="{% url 'stokosm:detail' node_type='goal' node_id=link.goal.id %}">{{ link.goal }}</a></p>

{% elif link.requirement %}
	<p><a href="{% url 'stokosm:detail' node_type='project' node_id=link.project.id %}">{{ link.project }}</a>--<a href="{% url 'stokosm:detail' node_type='requirement' node_id=link.requirement.id %}">{{ link.requirement }}</a></p>


{% endif %}

{% endblock %}