{% extends "stokosm/detail/detail.html" %}
{% block header %}{{ node_type }}: {{ node.name }}{% endblock %}

{% block delete_form_action %}
{% url 'stokosm:detail' node_id=node.id node_type=node_type %}
{% endblock %}

{% block edit_form_action %}
{% url 'stokosm:edit' node_id=node.id node_type=node_type %}
{% endblock %}

{% block detail %}

<!--GOAL-->
{% if node_type == "goal" %}

	<div class="span6">
		<h3>Related goals</h3>
		<h4>Add related {{ node_type }}</h4>
		<form class="form-inline" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ connections_form }}
		<input type="submit" name="add_connected_goal" value="Submit" />
		</form>
		<ul>
		{% for connection in node.goal.connections.all %}
			<li><a href="{% url 'stokosm:connection_detail' connection_id=connection.id %}">{{ connection.goal2.name }}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="span6">
		<h3>Linked projects</h3>
		<h4>Add linked project</h4>
		<form class="form-inline" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ linked_projects_form }}
		<input type="submit" name="add_linked_project" value="Submit" />
		</form>
		<ul>
		{% for link in node.goal.links.all %}
			<li><a href="{% url 'stokosm:link_detail' link_id=link.id %}">{{ link.project.name }}</a></li>
		{% endfor %}
		</ul>
	</div>

{% elif node_type == "requirement" %}
<!--REQUIREMENT-->
	<div class="span6">
		<h3>Related requirements</h3>
		<h4>Add related {{ node_type }}</h4>
		<form class="form-inline" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ connections_form }}
		<input type="submit" value="Submit" />	
		</form>
		<ul>
		{% for connection in node.requirement.connections.all %}
			<li><a href="{% url 'stokosm:connection_detail' connection_id=connection.id %}">{{ connection.requirement2.name }}</a></li>
		{% endfor %}
		</ul>
	</div>	

	<div class="span6">
		<h3>Linked projects</h3>
		<h4>Add linked project</h4>
		<form class="form-inline" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ linked_projects_form }}
		<input type="submit" name="add_linked_project" value="Submit" />	
		</form>
		<ul>
		{% for link in node.requirement.links.all %}
			<li><a href="{% url 'stokosm:link_detail' link_id=link.id %}">{{ link.project.name }}</a></li>
		{% endfor %}
		</ul>
	</div>

{% elif node_type == "project" %}
<!--PROJECT-->
	<div class="span6">
		<h3>Related projects</h3>
		<h4>Add related {{ node_type }}</h4>
		<form class="form-inline" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ connections_form }}
		<input type="submit" name="add_connected_project" value="Submit" />	
		</form>
		<ul>
		{% for connection in node.project.connections.all %}
			<li><a href="{% url 'stokosm:connection_detail' connection_id=connection.id %}">{{ connection.project2.name }}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="span3">
		<h3>Linked goals</h3>
		<h4>Add linked goal</h4>
		<form class="form-inline" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ linked_goals_form }}
		<input type="submit" name="add_linked_goal" value="Submit" />	
		</form>
		<ul>
		{% for link in node.project.links.all %}
			<li><a href="{% url 'stokosm:link_detail' link_id=link.id %}">{{ link.goal.name }}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="span3">
		<h3>Linked requirements</h3>
		<h4>Add linked requirement</h4>
		<form class="form-inline" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ linked_requirements_form }}
		<input type="submit" name="add_linked_requirement" value="Submit" />
		</form>
		<ul>
		{% for link in node.project.links.all %}
			<li><a href="{% url 'stokosm:link_detail' link_id=link.id %}">{{ link.requirement.name }}</a></li>
		{% endfor %}
		</ul>
	</div>

{% endif %}

{% endblock %}