{% extends "stokosm/detail/detail.html" %}
{% block header %}{{ node_type }}: {{ node.name }}{% endblock %}

{% block delete_form_action %}
{% url 'stokosm:detail' node_id=node.id node_type=node_type %}
{% endblock %}

{% block edit_form_action %}
{% url 'stokosm:edit' node_id=node.id node_type=node_type %}
{% endblock %}

{% block detail %}

<!--GOAL-->
{% if node_type == "goal" %}

	<div class="span6">
		<h3>Related goals</h3>
		<a><h4 id="add_connected_goal">Add related {{ node_type }}</h4></a>
		<form id="connected_goal_form" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ connections_form }}
		<input type="submit" name="add_connected_goal" value="Submit" />
		</form>
		<ul>
		{% for connection in node.goal.connections.all %}
			<li><a href="{% url 'stokosm:detail' node_type='goal' node_id=connection.goal2.id %}">{{ connection.goal2.name }}</a> - <a href="{% url 'stokosm:connection_detail' connection_id=connection.id %}">See connection</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="span6">
		<h3>Linked projects</h3>
		<a><h4 id="add_linked_project">Add linked project</h4></a>
		<form id="linked_project_form" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ linked_projects_form }}
		<input type="submit" name="add_linked_project" value="Submit" />
		</form>
		<ul>
		{% for link in node.goal.links.all %}
			<li><a href="{% url 'stokosm:detail' node_type='project' node_id=link.project.id %}">{{ link.project.name }}</a> - <a href="{% url 'stokosm:link_detail' link_id=link.id %}">See link</a></li>
		{% endfor %}
		</ul>
	</div>

{% elif node_type == "requirement" %}
<!--REQUIREMENT-->
	<div class="span6">
		<h3>Related requirements</h3>
		<a><h4 id="add_connected_requirement">Add related {{ node_type }}</h4></a>
		<form id="connected_requirement_form" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ connections_form }}
		<input type="submit" value="Submit" />	
		</form>
		<ul>
		{% for connection in node.requirement.connections.all %}
			<li><a href="{% url 'stokosm:detail' node_type='requirement' node_id=connection.requirement2.id %}">{{ connection.requirement2.name }}</a> - <a href="{% url 'stokosm:connection_detail' connection_id=connection.id %}">See connection</a></li>
		{% endfor %}
		</ul>
	</div>	

	<div class="span6">
		<h3>Linked projects</h3>
		<a><h4 id="add_linked_project">Add linked project</h4></a>
		<form id="linked_project_form" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ linked_projects_form }}
		<input type="submit" name="add_linked_project" value="Submit" />	
		</form>
		<ul>
		{% for link in node.requirement.links.all %}
			<li><a href="{% url 'stokosm:detail' node_type='project' node_id=link.project.id %}">{{ link.project.name }}</a> - <a href="{% url 'stokosm:link_detail' link_id=link.id %}">See link</a></li>
		{% endfor %}
		</ul>
	</div>

{% elif node_type == "project" %}
<!--PROJECT-->
	<div class="span6">
		<h3>Related projects</h3>
		<a><h4 id="add_connected_project">Add related {{ node_type }}</h4></a>
		<form id="connected_project_form" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ connections_form }}
		<input type="submit" name="add_connected_project" value="Submit" />	
		</form>
		<ul>
		{% for connection in node.project.connections.all %}
			<li><a href="{% url 'stokosm:detail' node_type='project' node_id=connection.project2.id %}">{{ connection.project2.name }}</a> - <a href="{% url 'stokosm:connection_detail' connection_id=connection.id %}">See connection</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="span3">
		<h3>Linked goals</h3>
		<a><h4 id="add_linked_goal">Add linked goal</h4></a>
		<form id="linked_goal_form" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ linked_goals_form }}
		<input type="submit" name="add_linked_goal" value="Submit" />	
		</form>
		<ul>
		{% for link in node.project.links.all %}
			{% if link.goal %}
			<li><a href="{% url 'stokosm:detail' node_type='goal' node_id=link.goal.id %}">{{ link.goal.name }}</a> - <a href="{% url 'stokosm:link_detail' link_id=link.id %}">See link</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>

	<div class="span3">
		<h3>Linked requirements</h3>
		<a><h4 id="add_linked_requirement">Add linked requirement</h4></a>
		<form id="linked_requirement_form" action="{% url 'stokosm:detail' node_id=node.id node_type=node_type %}" method="post">
		{% csrf_token %}
		{{ linked_requirements_form }}
		<input type="submit" name="add_linked_requirement" value="Submit" />
		</form>
		<ul>
		{% for link in node.project.links.all %}
			{% if link.requirement %}
			<li><a href="{% url 'stokosm:detail' node_type='requirement' node_id=link.requirement.id %}">{{ link.requirement.name }}</a> - <a href="{% url 'stokosm:link_detail' link_id=link.id %}">See link</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>

{% endif %}

{% endblock %}